.hide
{
display:none;
}
.center
{
text-align:center;
}
.left
{
	float:left;
}
.clear
{
	clear:both;
}
.right
{
	float:right;
}



.form_field
{
  margin: 1em 0;
}
.input_field
{
	padding: 0.5em;
	width: 100%;
	margin: 1em 0;
}
.error
{
color:red;
}
.success
{
color:green;
}
form label
{
font-weight:bold;
}
/**Table*/
table.search-result
{
text-align:left;
width:95%;
}
table.search-result th
{
font-weight:bold;
}